/*! Variables start */
:root {
  /* Font Styles */
  --mainfont: "Poppins", sans-serif;

  /* Color Variables */
  --colorDarkBlue: #0A1540;
  --colorLightBlue: #68FDD7;
  --colorWhite: #FFFFFF;
  --colorBackground: #F3F3F3;
}

/* ------------------------------------------------------ */
/* Custom Button Styles */
/* ------------------------------------------------------ */

.custom-btn {
  background-color: var(--colorDarkBlue) !important;
  color: var(--colorWhite) !important;
  font-size: 18px !important;
  border: none !important;
  padding: 12px 30px !important;
  border-radius: 50px !important;
  cursor: pointer !important;
}

.custom-btn:hover {
  background-color: var(--colorLightBlue) !important;
  color: var(--colorDarkBlue) !important;
}



/* ------------------------------------------------------ */
/* Nav Item Hover Effects */
/* ------------------------------------------------------ */
.hbtn {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  /* padding: 2px; */
  /* margin: 0px 3px 6px; */
  text-align: center;
  /* border: 2px solid rgb(255, 255, 255); */
  text-decoration: none;
  /* color: rgb(187, 30, 30); */
  white-space: nowrap;
  z-index: 0;
}


.hb-fill-middle2::before {
  position: absolute;
  content: "";
  background: var(--colorLightBlue);
  transition-duration: 0.3s;
  z-index: -1;
  inset: 0px 0px auto auto;
  width: 0px;
  height: 100%;
  opacity: 1;
}


.hb-fill-middle2:hover::before {
  width: 50%;
  height: 100%;
  opacity: 1;
}


.hb-fill-middle2 {
  background: transparent;
  color: var(--colorLightBlue);
  transition: color 0.3s ease 0s, background 0s ease 0s;
}


.hb-fill-middle2:hover {
  color: rgb(0, 0, 0);
  background: var(--colorLightBlue);
  transition: color 0.3s ease 0s, background 0s ease 0.3s;
}


.hb-fill-middle2::after {
  position: absolute;
  content: "";
  background: var(--colorLightBlue);
  transition-duration: 0.3s;
  z-index: -1;
  inset: 0px auto auto 0px;
  width: 0px;
  height: 100%;
  opacity: 1;
}


.hb-fill-middle2:hover::after {
  width: 50%;
}





/* ------------------------------------------------------ */

.outline-buton {
  background-color: var(--colorWhite) !important;
  color: var(--colorDarkBlue) !important;
  font-size: 14px !important;
  border: 1px solid var(--colorDarkBlue) !important;
  padding: 8px 30px !important;
  border-radius: 50px !important;
  cursor: pointer !important;
  transition: all 0.3s ease-in-out;
}

.outline-buton:hover {
  background-color: var(--colorDarkBlue) !important;
  color: var(--colorWhite) !important;
}

.outline-buton:hover span {
  margin-left: 5px;
  transition: 0.2s linear;
}





/* grid colors */
/* .col-6{
  border: 1px solid #d81d1d;
  padding: 50px;
} */




.float{
	position:fixed;
  padding: 10px 25px;
  font-size: 18px;
  text-decoration: none;
	bottom:20px;
	right:20px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  z-index: 50;
}











/* ------------------------------------------------------ */
/* Ignore this (.htaccess code for hide extention) */
/* ------------------------------------------------------ */

/* RewriteEngine on
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L] */